@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: "Geist";
  --font-mono: "Geist Mono";
}

:root {
  --background: #121212;
  --foreground: #fafafa;
  --primary: #3ecf8e;
  --secondary: #307d5b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
